name: Build
run-name: ${{ github.actor }} is building.
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT on github.
      contents: read # This is required for actions/checkout
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Use Node.js 20.0.0
        uses: actions/setup-node@v4
        with:
          node-version: 20.0.0
          cache: "yarn"
          cache-dependency-path: ./yarn.lock
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Unit Test
        run: yarn test
