name: Build
run-name: ${{ github.actor }} ran build
strategy:
  matrix:
    node-version: ["20.x"]
on: [push]
jobs:
  steps:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: Install dependencies
        run: yarn
